version: '3.8'

services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant_server
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - ./qdrant/storage:/qdrant/storage
    environment:
      - TZ=Asia/Shanghai
      - QDRANT__SERVICE__API_KEY=${QDRANT_API_KEY}

      - QDRANT__TELEMETRY_DISABLED=true
      - QDRANT__LOG_LEVEL=INFO
    ulimits:
      nofile:
        soft: 65535
        hard: 65535
    restart: "no"